/***** Root Styles ******/
:root {
  /*-------------------------------------------------------------
  FONTS */
  --text:-apple-system,"Helvetica Neue",sans-serif;

  --font-normal:16px;
  --font-small:13px;
  --font-smaller:11px;

  --normal-weight:400;  /* Switch to 300 if you want thinner default text */
  --bold-weight:600;    /* Switch to 600 or 700 if you want thicker bold text */
  --line-width:40rem;   /* I recommend turning off "Readable line length" in Obsidian Settings */
  --max-width:80%;      /* Maximum width inside file panels */
}

/*----------------------------------------------------------------
COLORS */


/*-------- FONTS ----------*/
h1, h2, h3, h4, h5, h6, strong {
  font-weight: var(--bold-weight);
}
  font-color: red;
nav {
  font-size: var(--font-smaller);
}
body {
  font-size: var(--font-normal);
}
a {
  font-color: blue;
  }
