/*———————— Root Styles —————————*/
:root {
  
  --text: 'Mononoki', 'Menlo', monospace;
  --textH1:  'La Lemonti', serif;
  --textH2: serif;

  --font-large: 5em;
  --font-normal: 16px;
  --font-small: 14px;
  --font-smaller: 12px;

  --normal-weight: 300;  /* Switch to 300 if you want thinner default text */
  --bold-weight: 600;    /* Switch to 600 or 700 if you want thicker bold text */
  
  --background-accent: #C9772C;
  --background-color: #B8D8F9;
  
  --font-color: #817E2C;
  --font-bold-color: #817E2C;
  --link-color: #817E2C;
  --link-hover-color: #E4DE71;
}

/*------------------- COLORS --------------------- 
/*------------------- font */


H1 {
	font-size: var(--font-large);
	font-family: var(--textH1);
	font-weight: var(--bold-weight);
	text-transform: uppercase;
	color: var(--font-bold-color);
}

H2 {
	font-size: 2em;
	font-family: var(--textH2);
	font-weight: var(--bold-weight);
	color: var(--font-bold-color);
}
H3 {
	font-family: var(--textH2);
	font-size: 1.5em;
	font-weight: var(--bold-weight);
	color: var(--font-bold-color);
}
H4 {
	font-family: var(--text);
	font-weight: var(--bold-weight);
	color: var(--font-color);
}
nav, .footer-text{
  font-size: var(--font-smaller);
  color: var(--font-color);
}
body {
  /*Background-image: var(--background-color);*/
  background-color:  var(--background-color);
  font-size: var(--font-normal);
  font-family:  var(--text);
  font-weight: var(--bold-normal);
  color: var(--font-color);
}

strong {
	font-weight: var(--bold-weight);
	color: var(--font-bold-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: .3em solid var(--link-hover-color);
}
a:hover {
	color: var(—text);
	background-color: var(--link-hover-color)
}

ul {
	list-style-type: "-";
}
/*-------------------------------------- STRUCTURE ------------------- */
body {
	margin-left: 10%;
	margin-right: 10%;
    /*Margin-top: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.site-title {
	/*background-color: rgba(192, 219, 244, 0.43);*/
	width: auto;
	grid-area: header;
	color: #000000;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 3px;

}
.intro {
	/*background-color: rgba(229, 173, 173, 0.42);*/
	width: auto;
	grid-area: intro;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 3px;
}
.portfolio {
	/*background-color: rgba(255, 230, 143, 0.47);*/
	width: auto;
	grid-area: portfolio;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 3px;
}
#current.portfolio-section {
	/*background-color: rgba(232, 143, 38, 0.48);*/
	grid-area: current;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 5px;
}
#other.portfolio-section,
#upcoming.portfolio-section,
#past.portfolio-section {
	/*background-color: pink;*/
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 5px;
}
.contact {
	/*background-color:  rgba(189, 160, 239, 0.55);*/
	grid-area: contact;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 3px;
}
.footer {
	/*background-color: rgba(200, 213, 189, 0.59);*/
	grid-area: footer;
	padding: 2em;
	border: 2px;
	border-style: solid;
	border-color: var(--background-accent);
	border-radius: 3px;
}
main {
	grid-area: main;
	/*padding: 2em;*/
}

/*-------------------------------------- grid template */
body {
	display: grid;
	grid-template-rows: repeat(3, minmax(auto,max-content));
	grid-template-areas:
	"header"
	"main"
	"footer";
	grid-gap: 1em;
}

main {
	display: grid;
	grid-template-rows: repeat(3, minmax(auto, max-content));
	grid-template-areas:
	"intro"
	"portfolio"
	"contact";
	grid-gap: 1em;
}

.portfolio {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
	"current current current"
	"other upcoming past";
	grid-gap: 2em;
}

/*-------------------------------------- responsive styling */
@media (min-width: 300px) {
	.portfolio {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"current"
		"other"
		"upcoming"
		"past";
	}
	main {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.portfolio {
		display:  grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"current current current"
		"other upcoming past";
	}
}

/*-------------------------------------- header / footer */

.site-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

Footer {
	display:  flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
}
.header-nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
	align-items:  center;
}
.header-nav-list-item {
	display: block;
	flex: 0 1 80px;
}

.header-search {
	display:  flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:  center;
}

/*------------------------------------- General Body Styling */


/*------------------- collapsible content */

/*------------------- checkbox */

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;

	font-weight: bold;
	font-family: var(--text);
	font-size: var(--font-normal);

	padding: 1em;
	margin-top: 1em;

	color: var(--font-bold-color);

	border: 1px solid var(--background-accent);
	border-right: 1.5px solid var(--background-accent);
	border-bottom: 1.5px solid var(--background-accent);
	border-radius:7px;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: var(--font-color);
}

/*------------------- arrow */
.lbl-toggle::before {
	content: ' ';
	display: inline-block;

  	border-top: 5px solid transparent;
  	border-bottom: 5px solid transparent;
  	border-left: 5px solid currentColor;

  	vertical-align: middle;
  	margin-right: .7rem;
  	transform: translateY(-2px);

  	transition: transform .2s ease-out;
}

/*------------------- inner content */
.collapsible-content .content-inner {
	background: 000;
	border-left: 1px solid var(--background-accent);
	  Border-right: 1.5px solid var(--background-accent);
	  border-bottom: 1.5px solid var(--background-accent);
	
	  border-bottom-left-radius: 7px;
	  border-bottom-right-radius: 7px;
	  padding: .5rem 1rem;
}

/*------------------- expanding */
.collapsible-content {
	  max-height: 0px;
	  overflow: hidden;
	
	  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  text-transform: capitalize;
}



